.bell-anchor {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.notification-bell {
  font-size: 22px;
}

.notif-count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 16px;
  height: 16px;
  font-size: 10px;
  background: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* POPUP ABOVE EVERYTHING */
.notif-portal-popup {
  position: absolute;
  width: 260px;
  background: white;
  border-radius: 12px;
  padding: 12px;
  z-index: 999999999 !important; /* MAX LAYER */
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.22);
}

.notif-item {
  background: #f5f6f9;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
}

.notif-time {
  font-size: 12px;
  color: #777;
}
